.ratebox {
    direction: rtl;
}

.rating {
    unicode-bidi: bidi-override;
    text-align: center;
    color: blue;
    font-size: 10em;
  }
  .rating {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  span.rating:hover,
  span.rating:hover ~ span {
    color: transparent;
    color: gold;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     left: 0;
     color: gold;
  }